/config/application.conf
/config/application.conf.development
/config/database/jdbc/jdbc.properties
/config/kettle/.kettle/.spoonrc
/config/kettle/.kettle/kettle.properties
/config/kettle/.kettle/xulSettings.properties
/config/kettle/.kettle/shared.xml
/config/kettle/.kettle/shared.xml.backup

/temp/*
/download/*
