/config/application.conf
/config/application.generated.conf
/config/database/jdbc/jdbc.properties
/config/environment.generated.config.sh
/config/kettle/.kettle/.spoonrc
/config/kettle/.kettle/kettle.properties
/config/kettle/.kettle/xulSettings.properties
/config/kettle/.kettle/shared.xml
/config/kettle/.kettle/shared.xml.backup
/config/kettle/.kettle/.languageChoice

/resource/repository/repository.log

/temp/*
/download/*
/log/*
/docs
/dist
