# The logging level (Basic, Detailed, Debug, Rowlevel, Error, Nothing)
kettle.log.level = Basic
kettle.memory.max = 2048

# Database Config
database.attribute.defaults.mysql = useCursorFetch=true&defaultFetchSize=500&interactiveClient=true&tinyInt1isBit=false&useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8

database.connection.Example.type = sql
database.connection.Example.driver = mysql
database.connection.Example.host = ???
database.connection.Example.port = 3306
database.connection.Example.database = ???
database.connection.Example.user = ???
database.connection.Example.password = ???
